#NutritionFactsPreviewer {
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 250px;
  float: left;
  margin: 20px;
}
body {
  font-size: small;
  line-height: 1.4;
}
p {
  margin: 0;
}

td {
  text-align: right;
}

.performance-facts {
  border: 1px solid black;
  margin: 20px;
  float: left;
  width: 420px;
  padding: 0.5rem;
}
.performance-facts__title {
  font-weight: bold;
  font-size: 2rem;
  margin: 0 0 0.25rem 0;
}
.performance-facts__header {
  border-bottom: 10px solid black;
  padding: 0 0 0.25rem 0;
  margin: 0 0 0.5rem 0;
}
.performance-facts__table {
  width: 100%;
}

.blank-cell {
  width: 1rem;
  border-top: 1pt white solid;
}

.small-info {
  font-size: 0.7rem;
}

.performance-facts__table--small {
  border-bottom: 1px solid #999;
  margin: 0 0 0.5rem 0;
}

.performance-facts__table--grid {
  margin: 0 0 0.5rem 0;
}

.text-center {
  text-align: center;
}
.thick-end {
  border-bottom: 10px solid black;
}
.thin-end {
  border-bottom: 1px solid black;
}

.separator-botton-1 {
  border-bottom: 0.25pt solid black;
  margin-bottom: 2pt;
  padding-bottom: 2pt;
}

.separator-botton-2 {
  border-bottom: 0.5pt solid black;
  margin-bottom: 2pt;
  padding-bottom: 2pt;
}

.separator-botton-3 {
  border-bottom: 3pt solid black;
  margin-bottom: 2pt;
  padding-bottom: 2pt;
}

.separator-botton-4 {
  border-bottom: 7pt solid black;
  margin-bottom: 2pt;
  padding-bottom: 2pt;
}
