.paneTitle {
  text-align: center;
  font-weight: bold;
  color: black;
  margin-bottom: 1em;
}

.draggable-group-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 2em 0em;
  padding: 1.5em 1em;
  height: fit-content;
  max-width: 60%;
  text-align: left;
  background-color: transparent;
}

.draggable-group-2 {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: transparent;
  white-space: nowrap;
}

#PrototypeBack {
  display: flex;
  justify-content: center;
  border: 1px #f3f3f3 solid;
  background-color: white;
  position: relative;
  text-align: center;
  border: 1px lightgray solid;
  overflow: hidden;
  padding: 5px;
}

.prototypeSection3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
}
