/* Aclaracion: la clase "modal-dialog" y "modal-content" es agregada automaticamente por la libreria react-bootstrap */
#NutritionFactsModal .modal-dialog{
    width: 100%; /* hasta el max-width seteado por la clase modal-lg (800px) */
}

#NutritionFactsModal #Modal-header{
    z-index: 1;
    position: absolute;
    right: 1px;
    border:0;
}

#NutritionFactsModal #Modal-body{
    display: flex;
    justify-content: center;
    padding: 0;
    border-radius: 20%;
}

#NutritionFactsModal #Modal-body div{
    flex: 1 0 auto;

}