:root {
    --Sidebar-heigth: 90vh;
    --Navbar-heigth: 10vh;
    --Sgreen:#1ED796;
    --Sblack:#404040;
    --Sselectedgreen:#6fd8b359;
    --Sgray:#ececec;
    --fondoWeb: "../../../public/images/fondo-web.png";
    --BorderRadio: 10px;
}