@import '../constants.css';

:root {
    --fraction: calc(100% / 4);
}

#sidebar {
    height: var(--Sidebar-heigth);
    width: 25%;
}

.option{
    height: var(--fraction);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

i{
    align-self: center;
}

#userIcon{
    margin-top: 1vh;
    margin-bottom: 2vh;
    cursor: pointer;
}

#userImg{
    cursor: pointer;
}

#userSubMenu{
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding-top: 5%;
    padding-bottom: 5%;
}

.userSubBtn{
    width: 100%;
    align-self: flex-end;
    padding: 5px;
    padding-right: 5vw;
    border-radius: 10px;
    font-size: 15px;
}

#SidebarContainer{
    padding-left: 1vw;
    padding-right: 1vw;
}

#SidebarOptions{
    overflow-y: auto;
    row-gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#SidebarOptions img{
    width: 1.9vw;
}