@import '../constants.css';

:root {
    --fraction: calc(100% / 4);
}

#sidebar {
    height: var(--Sidebar-heigth);
    width: 25%;
}

.option{
    height: var(--fraction);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

i{
    align-self: center;
}

#userIcon{
    margin-top: 1vh;
    margin-bottom: 2vh;
    cursor: pointer;
}

#userImg{
    cursor: pointer;
}

#userSubMenu{
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding-top: 5%;
    padding-bottom: 5%;
}

.userSubBtn{
    width: 100%;
    align-self: flex-end;
    padding: 5px;
    padding-right: 5vw;
    border-radius: 10px;
    font-size: 15px;
}

#SidebarContainer{
    padding-left: 1vw;
    padding-right: 1vw;
    width: fit-content;
    overflow: auto;
}

#SidebarOptions{
    overflow-y: auto;
    row-gap: 20px;
    display: flex;
    flex-direction: column;
}

#SidebarOptions img{
    width: 1.9vw;
    max-height: 1.9vw;
}

.sidebarContHeader{
    margin-bottom: 5%;
}

.sidebarTitle{
    font-weight: bold;
    margin-bottom: 0;
}

.sidebarSubTitle{
    font-weight: 300;
    font-size:0.75em;
    margin-bottom: 0;
}

#dimensionesCont{
    display: flex;
    gap: 1vw;
}

.sidebarItem{
    max-width: 20vw;
}

#dimensiones{
    display: flex;
    flex-direction: column;
}

#dimensionesInput{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 5vh;
}

.gRInput{
    border: 2px solid var(--Sblack);
    background-color: var(--Sblack);
    padding-left: 10px;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 5px;
    font-size: 15px;
    width: 100%;
    color: white;
    outline: none;
}

.gRInput:disabled{
    background-color: #b1b1b13b;
    border-color: var(--Sselectedgreen);
}

.numberInput{
}

#sbAncho, #sbAltura{
    display: flex;
    gap: 1vw
}

#sbUnidades{
    align-self: center;
}

.sbLabel{
    font-weight: bold;
}

