@import '../constants.css';

:root {
    --fraction: calc(100% / 4);
}

#sidebar {
    height: var(--Sidebar-heigth);
    width: 25%;
}

a{
    color: currentColor;
    text-decoration: none;
}
.sidebar-dark{
    background-color: var(--Background-color-dark);
    color: var(--Font-color-dark);
}



.sidebar-ligth{
    background-color: var(--Background-color-ligth);
    color: var(--Font-color-ligth);
}

.option{
    height: var(--fraction);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

i{
    align-self: center;
}