:root {
    --Sidebar-heigth: 90vh;
    --Navbar-heigth: 10vh;
    --Sgreen:#1ED796;
    --Sblack:#404040;
    --Sselectedgreen:#1dd79633;
    --fondoWeb: "../../../public/images/fondo-web.png";
    --Sselectedgreen:#1dd79633;
}