@import "../../config/constants.css";

#LoginBox {
  width: 100%;
}

#LoginForm > * {
  margin: 0px auto;
}
#LoginForm button {
  width: 100%;
}

#LoginForm {
  text-align: left;
  width: 100%;
}

#loginform label {
  font-size: 0.9rem;
  font-weight: bold;
  color: gray;
  margin: 100px auto;
}

#LoginForm input {
  width: 100%;
}

.ligthButton {
  border: 2px solid var(--Sgreen);
  background-color: white;
  color: var(--Sgreen);
}

.signupButton {
  border-radius: 5px;
  box-shadow: 1px 1px 1px grey;
  width: fit-content;
  padding-right: 10px;
  cursor: pointer;
}

.facebook {
  background-color: #1b77f0;
  color: white;
}
.facebook .icon {
  background: url(https://developers-dot-devsite-v2-prod.appspot.com/identity/sign-in/g-normal.png)
    transparent 5px 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
}

.google {
  border: thin solid #888;
}

.google .icon {
  background: url(https://developers-dot-devsite-v2-prod.appspot.com/identity/sign-in/g-normal.png)
    transparent 5px 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
}
