@import '../constants.css';


#navbar{
    height: var(--Navbar-heigth);
}

.navbar-dark{
    background-color: var(--Background-color-dark);
    color: var(--Font-color-dark);
}

.navbar-ligth{
    background-color: var(--Background-color-ligth);
    color: var(--Font-color-ligth);
}

#navTitle{
    font-size: 3.5vh;
}

#navIcon{
    font-size: 6vh;
}