@import '../constants.css';


#navbar{
    height: var(--Navbar-heigth);
}

#homeBtn{
    padding: 8px;
    width: auto;
    height: auto;
    background-color: var(--Sgreen);
    color: var(--Sblack);
    font-size: 35px;
    font-family: "Poppins";
    font-weight: 600;
    border: 2px solid white;
    border-radius: 30px;
}

#homeBtn:hover{
    color: white;
}

button{
    font-size: 2.5vh;
}

#navTitle{
    font-size: 3.5vh;
}

#navIcon{
    font-size: 6vh;
}