@import '../../config/constants.css';

#masterContainer{
  display: flex;
  height: 100vh;
  width:100%;
  background-color: var(--Sgray);
}

#TicketEditorContainer{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width:100%;
  max-height: 90vh;
  overflow: auto;
}

#Previewer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  z-index: 0;
  background-color: transparent;
}

#PreviewContainer{
  width: 100%;
  height: 100%;
  overflow: auto;
}

.sidebarRect{
    overflow: auto;
    overflow-y: scroll;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.dContent{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.multIcon{
    color: var(--Sgreen);
    font-size: 20px;
}

#ancho, #altura{
    border: 2px solid var(--Sgreen);
    padding-left: 10px;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 0px;
    font-size: 15px;
}

.duInput{
    display: flex;
    gap: 5px;
}



.gRContent{
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.gRLabel{
  width: auto;
}



.subgRContent{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.cnInput{
    justify-content: space-between;
    align-items: center;
}

#vidaUtil{
  width: auto;
}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
  
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
  
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}
  
/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: var(--Sgreen);
}
  
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
  
/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}
  
/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.draggable-container{
  width: fit-content;
}
.draggable-container:hover{
  border: 1px solid var(--Sgreen);
  cursor: move;
}