.sizeIndicatorWapper {
/* opacity: 0.4; */
}

.sizeIndicatorWapper:hover {
opacity: 1.0;
}

.horizontalIndicator{
    display: inline-block;
    text-align: center;
    margin-top: 2em;
}

.verticalIndicator{
    /* d-flex align-items-center justify-content-center */
    display: flex;
    align-items: center;
    justify-content: center;
}